/*--------------
    RESET
--------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*--------------
    TIPOGRAPHY
--------------*/
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
/*--------------
    GENERAL
--------------*/
.row{
    display: flex;
    flex-wrap: wrap;
}
.container-large{
    max-width: 1200px; 
    margin: auto;
}
.container-small{
    max-width: 1000px; 
    margin: auto;
}
li{
    list-style: none;
}
small{
    display: block;
}
hr{
    max-width: 20%;
    color: #d0d0d3;
}
.sp-between{
    justify-content: space-between;
}
.border{
    border: 1px solid #d0d0d3;
}
.border-bottom{
    border-bottom: 1px solid #d0d0d3;
}
.text-center{
    text-align: center;
}
/*--------------
    COL
--------------*/
.col-30{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-33{
    width: calc(100% / 3 - 20px);
    flex-direction: column;
    min-height: 950px;
}
.col-100{
    width: 100%;
}
/*--------------
    BUTTON
--------------*/
button{
    border: none;
    cursor: pointer;
    background-color: white;
}
.btn{
    width: 230px;
}
.btn-color{
    background-color: #0061ff;
    color: white;
}
.btn-padding{
    padding: 5px 10px;
}
.btn-width{
    width: 230px;
}
.btn-height{
    height: 40px;
}
.btn-border{
    border: 1px solid;
}
/*--------------
    MARGIN
--------------*/
.margin-20{
    margin: 20px 0;
}
.margin-30{
    margin: 30px 0;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-50{
    padding-bottom: 50px;
}
.margin-top-150{
    margin-top: 150px;
}
.negative{
    transform: translateY(+80px);
}
/*--------------
    PADDING
--------------*/
.padding-10{
    padding: 10px 0;
}
.padding-20{
    padding: 20px 0;
}
.padding-l-50{
    padding-left: 50px;
}
.padding-r-50{
    padding-right: 50px;
}
.padding-30{
    padding: 0 30px;
}
/*--------------
    HEADER
--------------*/
.gap{
    gap: 30px;
    padding: 20px 10px;
    align-items: center;
}
/*--------------
    HERO
--------------*/
.hero{
    background-color: #b4d0e7;
}
.container-large h1{
    margin-top: 90px;
}
.col-30 > p{
    margin-bottom: 30px;
}
.col-30 i{
    font-size: 60px;
}
.col-60 img{
    max-width: 100%;
}
/*--------------
    MAIN
--------------*/
.container-small h2{
    margin-top: 150px;
    margin-bottom: 70px;
}
.column-center i, .column-center span{
    padding: 10px 0;
}
#fa-check i{
    color: #0061ff;
}
/*--------------
    FOOTER
--------------*/